* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    color: #222;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}




/* BLOG */
.blog-container {
    display: flex;
}


/* BLOG-HERO  */
.hero {
    width: 100%;
    max-width: 600px;
    height: 782px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/Nature@2x.jpg);
    }
}

.hero-information {
    width: 285px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.hero-information-heading {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #fff;
}

.hero-information-link {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    background-color: #1e90ff;
}

.hero-information-link:hover {
    opacity: 0.8;
}

.hero-information-link:active {
    opacity: 0.6;
}

.hero-information-link::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url(../img/icon-star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}

.hero-information-link-inner {
    display: inline-block;
}

.hero-information-link-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}


/* MAIN */
.main {
    padding: 54px 54px 298px 54px;
}

.main-heading {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 24px;
    color: #000;
}

.main-line {
    margin-bottom: 24px;
    color: #999;
}

.impression-blog {
    margin-bottom: 23px;
}

.impression {
    display: flex;
    align-items: center;
}

.impression:not(:last-child) {
    margin-bottom: 10px;
}

.impression-img {
    display: block;
    border-radius: 4px;
}

.impression-content {
    padding: 16px;
}

.impression-content-heading {
    font-size: 18px;
    margin-bottom: 4px;
    text-decoration: none;
    color: #000;
}

.impression-content-heading:hover {
    color: #1e90ff;
}

.impression-content-heading:active {
    opacity: 0.6;
}

.location {
    display: flex;
    letter-spacing: 0;
}

.posted-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    margin-right: 24px;
    color: #888;
}

.posted-time::before {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(../img/icon-clock.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content:"";
}

.view {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    margin-right: 24px;
    color: #888;
}

.view::before {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(../img/icon-eye.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content:"";
}

.view-text {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666;
}

.main-link {
    width: 100%;
    font-size: 14px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    padding: 12px;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    line-height: normal;
    cursor: pointer;
    background-color: #1e90ff;
    color: #fff;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}