:root {
    --accent-color: #fff;
    --outline-color: #1e90ff;
    --heading-color: #000;;

    --text-font: "Roboto Condensed", "Arial", sans-serif;
    --heading-font: "Bebas Neue","Roboto Condensed", "Arial", sans-serif;
}


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--text-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    color: ;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 2px dashed var(--outline-color);
    outline-offset: 2px;
}



/* BLOG */
.blog-container {
    display: flex;
}


/* BLOG-HERO  */
.hero {
    width: 100%;
    max-width: 600px;
    height: 782px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/Nature@2x.jpg);
    }
}

.hero-information {
    width: 285px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.hero-information-heading {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--heading-font);
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: var(--accent-color);
}

.hero-information-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--heading-font);
    padding: 12px 24px;
    line-height: 1.5;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    background-color: #1e90ff;
}

.hero-information-link:hover {
    background-color: rgb(30, 144, 255, 0.8);
}

.hero-information-link:active {
    background-color: rgb(30, 144, 255, 0.6);
}

.hero-information-link::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url(../img/icon-star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}

.hero-information-link-inner {
    display: inline-block;
}

.hero-information-link-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--accent-color);
}


/* MAIN SECTION */
.main {
    width: 100%;
    max-width: 600px;
    height: 782px;
    padding: 54px 54px 298px 54px;
    background-color: var(--accent-color);
}

.main-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--heading-color);
}

.main-line {
    height: 1px;
    border: 0;
    margin-bottom: 24px;
    background-color: #999;
}

.impression-blog {
    margin-bottom: 23px;
}

.impression {
    display: flex;
    align-items: center;
}

.impression:not(:last-child) {
    margin-bottom: 10px;
}

.impression-img {
    display: block;
    width: 160px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.impression-content {
    padding: 16px;
}

.impression-content-heading {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 18px;
}

.impression-content-heading-link {
    text-decoration: none;
    color: var(--heading-color);
}

.impression-content-heading-link:hover {
    color: #1e90ff;
}

.impression-content-heading-link:active {
    opacity: 0.6;
}

.impression-location {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    color: #888;
}

.impression-location-item:not(:last-child) {
    margin-right: 24px;
}

.impression-location-item {
    display: flex;
    font-family: var(--text-font);
}

.impression-location-item::before {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content:"";
}

.impression-location-posted-time::before {
    background-image: url(../img/icon-clock.svg);
}

.impression-location-view::before {
    background-image: url(../img/icon-eye.svg);
}


/* MAIN-LINK */
.main-link {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: var(--text-font);
    font-weight: 700;
    padding: 12px;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    line-height: normal;
    background-color: #1e90ff;
    color: var(--accent-color);
    cursor: pointer;
}

.main-link:hover {
    opacity: 0.8;
}

.main-link:active {
    opacity: 0.6;
}